<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/modal.css">


</head>
<body>

  <% include ../partials/header %>



<!-- <div id="search-container">
   <form action="/" method="get" id="search-form">
<p>
<label for="search_term">Enter location: </label>
<input type="text" name="searchTerm" id="search_term" value="" placeholder="Search for Golf Course" />
</p> -->
<div class="wrapper">
  <tr>
<div class="image">
<p class="blue"><font size="3">Featured Golf Course<font></p>
    <div class="rightr">
      <p>Welcome to PGA WEST, the 2,000 acre golf and lifestyle community that is both location and legend. Ideally situated in the beautiful town of La Quinta, California, PGA WEST is located in the preferred destination of the greater Palm Springs area. Over six courses a total of 90 holes of golf, both on-property and at nearby PGA WEST, designed by Pete Dye, Jack Nicklaus and Greg Norman. The courses regularly play host to the Bob Hope Chrysler Classic charity golf tournament. La Quinta was expanded to its current size by Landmark Land Company in 1989.</p>
      <p class="box green">More Info!</p>
    </div>  
  <img alt="" src="../pictures/featured.golf.course.png" class="hard"/>
  <div class="text">
    <h1 class="white">PGA West</h1>
    <h4 class="white italic">PGA Championship Course Par 72</h4>
    <h4 class="white italic">Rated Number One Club House</h4>
  </div>
</div>
</tr>
  <div id="inner">
    <% for (i = 0; i < courses.length; i ++) { %>
      <div class="column">
        <img src="<%= courses[i].image_url %>" class="big-image">
        <div class="caption">
          <h3 class="brown course-name"><%= courses[i].name %></h3>
          <img src="<%= courses[i].rating_img_url_large %>" alt="...">
          <p class="italic"><%= courses[i].snippet_text %></p>
          <div class="icons"><a href="courses/<%= courses[i].id %>" class="btn btn-primary" role="button">More Info!</a><img src="https://s3-media4.fl.yelpcdn.com/assets/srv0/developer_pages/7e704c57a423/assets/img/yelp_logo_75x38.png" class="yelp"></div>


       <!--     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">x</button>
                </div>

                <ul class="nav nav-tabs">
                  <li role="presentation" class="active"><a href="#login" data-toggle="tab">Login</a></li>
                  <li role="presentation"><a href="#register" data-toggle="tab">Register</a></li>
                </ul>
                <div class="tab-content">
      <div class="tab-pane active" id="login">  

        <h1>Log In</h1>

        <form action="/login" method="post">
          <div class="form-group">
            <label name="title">Email</label>
            <input type="email" class="form-control" name="email" value="" placeholder="Email">
          </div>

          <div class="form-group">
            <label name="title">Password</label>
            <input type="text" class="form-control" name="password" value="" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-default">Log In</button>
        </form>   
      </div>
  


      <div class="tab-pane" id="register">  

        <h1>New User</h1>

        <form action="/users/create" method="post">
          <div class="form-group">
                <label name="title">Name</label>
                <input type="text" name="name" value=""/>
          </div>

          <div class="form-group">
            <label name="title">Email</label>
            <input type="text" name="email" value=""/>
          </div>

          <div class="form-group">
            <label name="title">Password</label>
            <input type="text" name="password" value=""/>
          </div>

          <div class="form-group">
            <label name="title">Location</label>
            <input type="text" name="location" value=""/>
          </div>

          <div class="form-group">
            <label name="title">Handicap</label>
            <input type="text" name="handicap" value=""/>
          </div>

          <button type="submit" class="btn btn-default">Log In</button>
        </form> 
        </div>    
    </div>
              </div>
            </div>
          </div> -->

        </div>
      </div> 

    <% } %>  
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<script>

$(document).ready(function() {
  $('.big-image').each(function() {
    var url = $(this).attr('src');
    url = url.replace('ms', 'l');
    $(this).attr('src', url);
  });
});

</script>


</body>


</html>
